@mixin cols($minHeight, $flexBasis) {
  min-height: $minHeight;
  flex-basis: flexBasis($flexBasis);
}

@function flexBasis($n) {
  @return 100% / $n;
}

#main .row .col {
  @for $i from 1 through 8 {
    &.col#{$i} {
      @include cols(120px, $i)
    }
  }
}

@mixin rows($height, $fontSize) {
  height: $height;
  line-height: $height;
  font-size: $fontSize;
}

$h2Height: 30px;
$h3Height: 26px;
$spanHeight: 40px;

@function rowHeight($name, $n) {
  @if $name == "h2" {
    @return $h2Height - $n;
  } @else if $name == "h3" {
    @return $h3Height - ($n + 4);
  } @else {
    @return $spanHeight - ($n * 3);
  }
}

$defaultHeight: 66px;
@function height($n) {
  @return $defaultHeight - ($n * 4 + ($n - 6));
}

@function fontSize($n) {
  @if $n < 7 {
    @return 0.8rem;
  }
  @return 0.4rem;
}

@function fontSize2($n) {
  @if $n < 7 {
    @return 1rem;
  }
  @return 0.7rem;
}

.box_patient {
  @for $i from 5 through 8 {
    &.row#{$i} {
      h2 {
        @include rows(rowHeight("h2", $i), fontSize($i))
      }

      .cate {
        .col_box {
          height: height($i);

          h3 {
            @include rows(rowHeight("h3", $i), fontSize($i))
          }

          .col_3 {
            span {
              @include rows(rowHeight("span", $i), fontSize2($i))
            }
          }
        }
      }
    }
  }
}

@media all and (max-width: 1680px) {
  #main .row .col.col8 {
    flex-basis: 20%
  }
}

@media all and (max-width: 1200px) {
  #main .row .col.col8 {
    flex-basis: 33.33%
  }
}

@media all and (max-width: 640px) {
  #main .row .col.col8 {
    flex-basis: 50%
  }
}
