@mixin cols($minHeight, $flexBasis) {
  min-height: $minHeight;
  flex-basis: flexBasis($flexBasis);
}

@function flexBasis($n) {@return 100% / $n;}

#main .row .col {
  @for $i from 2 through 8 {
    &.col#{$i} {@include cols(119px, $i)}
  }
}

@function fontSize($n) {
  @if ($n == 6) {@return 1rem}
  @else if($n == 7) {@return 0.8rem}
  @return 0.6rem;
}

.box_patient {
  @for $i from 5 through 8 {
    &.row#{$i} {
      h2 {height: 20px;line-height: 18px;font-size: 0.4rem;}
      .cate {
        .col_box {height: calc(100vh / #{$i} - 45px);min-height: 80px;
          .graph_box {height: calc(100% / 3 - 13px);min-height: 18px;}
          h3 {height: 13px;line-height: 13px;font-size: 0.6rem;}
          .col_3 {height: calc(100% / 3);min-height: 31px;
            span {height: 16px;line-height: 16px;font-size: fontSize($i);}
          }
        }
      }
    }
  }
}

$font: 20rem;

@function noneFont($n) {
  @if ($n == 6) {
    @return 0.8rem;
  } @else if ($n == 8) {
    @return 0.5rem;
  }
  @return 1.25rem;
}

.box_none {
  @for $i from 2 through 8 {
    &.row#{$i} {
      h2 {
        font-size: noneFont($i);
        margin-bottom: 20px;
      }

      .btn_admit {
        width: 100px;
        height: 30px;
        line-height: 30px;
        font-size: 0.7rem;
      }
    }
  }
}

@media all and (max-width: 1680px) {
  #main .row .col.col8 {
    flex-basis: 16.5%
  }
}

@media all and (max-width: 1200px) {
  #main .row .col.col8 {
    flex-basis: 25%
  }
}

@media all and (max-width: 640px) {
  #main .row .col.col8 {
    flex-basis: 50%
  }
}
